<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emerge Odonto</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/index.js" defer></script>
    <link rel="icon" href="/static/assets/logoEmerge - Copia.png">
</head>
<body>
    <main class="wrapper">
        <div class="navbar">
            <img src="/static/assets/emergeOdontoLogo2-removebg-preview.png" alt="logo">
            <ul class="nav_items">
                <a href="/templates/index.html" target="_self">
                    <li>Início</li>
                </a>
                <a href="/templates/especialidades.html">
                    <li>Especialidades</li>
                </a>
                <a href="/templates/agendamento.html">
                    <li>Agendamento</li>
                </a>
                <a href="/templates/perfil.html">
                    <li>Perfil</li>
                </a>
            </ul>
            <div class="empty"></div>
        </div>
<br>
<br>
<br>
        <section class="hero">
            <div class="hero_text">
                <h1>Cuidando dos seus dentes, <br> Aqui é <span class="bold_text">Emerge Odonto</span>
                </h1>
                <p>
                    Sua saúde bucal é o pilar da sua confiança. Na Emerge Odonto, combinamos tecnologia avançada e um atendimento humanizado para transformar não apenas sorrisos, mas vidas. Nossa equipe de especialistas é dedicada a oferecer o que há de mais moderno em tratamentos, garantindo resultados duradouros e o máximo de conforto em cada visita. Aqui, você encontra o caminho para um sorriso mais saudável, bonito e seguro. Venha descobrir o poder de sorrir sem medo!
                </p>
                <a href="/templates/saibamais.html"><button class="saibamais">Saiba mais</button></a>
            </div>

            <div class="hero_image">
                <img src="/static/assets/unnamed-removebg-preview.png" alt="" class="main_image">
            </div>
        </section>    
    </main>

       <div class="options">
        <img src="/static/assets/endo.png" alt="options_image" class="option_image"> 
        <img src="/static/assets/bucomaxilo.png" alt="options_image" class="option_image">
        <img src="/static/assets/oralMenor.png" alt="options_image" class="option_image">
    </div>
        
    <div class="circle">

    </div>
        
    
</body>
</html>