<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emerge Odonto</title>
    <link rel="stylesheet" href="/static/css/perfil.css">
    <script src="/static/js/perfil.js" defer></script>
    <link rel="icon" href="/static/assets/logoEmerge - Copia.png">
</head>
<body>
    <main class="wrapper">
        <div class="navbar">
            <img src="/static/assets/emergeOdontoLogo2-removebg-preview.png" alt="logo">
            <ul class="nav_items">
                <a href="/templates/index.html" target="_self">
                    <li>Início</li>
                </a>
                <a href="/templates/especialidades.html">
                    <li>Especialidades</li>
                </a>
                <a href="/templates/agendamento.html">
                    <li>Agendamento</li>
                </a>
                <a href="/templates/perfil.html">
                    <li>Perfil</li>
                </a>
            </ul>
            <div class="empty"></div>
        </div>
<br>
<br>
<br>

  
    <section class="hero">
      <div class="hero_text">
        <h1>Bem-vindo ao seu <span class="bold_text">Perfil</span></h1>
        <p>Confira abaixo as informações do seu agendamento</p>
      </div>
    </section>


    <br><br>
    <h1>Seus Dados</h1>

    <div class="texto">
      <div id="perfilInfo" class="box-texto">
        <!-- Os dados serão carregados aqui via JS -->
      </div>

      <div class="botoes">
        <button id="limparDados" class="botaoEntrar">Limpar Dados</button>
      </div>
    </div>
  </main>

  <div class="circle">

  </div>
  
</body>
</html>
