<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emerge Odonto</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/assets/logoEmerge - Copia.png">
</head>
<body>
    <main class="wrapper">
        <div class="navbar">
            <img src="/static/assets/emergeOdontoLogo2-removebg-preview.png" alt="logo">
            <ul class="nav_items">
                <a href="/templates/index.html" target="_self">
                    <li>Início</li>
                </a>
                <a href="/templates/especialidades.html">
                    <li>Especialidades</li>
                </a>
                <a href="/templates/agendamento.html">
                    <li>Agendamento</li>
                </a>
                <a href="/templates/perfil.html">
                    <li>Perfil</li>
                </a>
            </ul>
            <div class="empty"></div>
        </div>
<br>
<br>
<br>

  
    <section class="hero">
      <div class="hero_text">
        <h1>Conheça nossos <span class="bold_text">Dentistas</span></h1>
        <p>Confira abaixo todos aqueles que cuidam melhor da sua saúde bucal!</p>
      </div>
    </section>


    <br><br>

        <div class="circleColaboradoraes">
                <img src="assets/44ffbfc5-af66-407c-bc70-602b450e3c21.JPG" alt="" class="imageBack">
        </div>

  <div class="circleColaboradoraes">
        <img src="assets/88EAA3F0-E1E8-44AB-9E15-FD9853AFDB8D.JPG" alt="" class="imageBack">
  </div>

  <div class="circleColaboradoraes">
        <img src="assets/9313506f-3e80-4d0a-a4a8-c11d7970ed35.JPG" alt="" class="imageBack">
  </div>

    <div class="circleColaboradoraes">
        <img src="assets/a478a4ca-2a82-4b0a-a59f-d5adf7736565.JPG" alt="" class="imageBack">
  </div>

        <img src="assets/bbd2f1ef-5ff7-473d-8066-7f8abd00a95c.JPG" alt="" class="imageBack">

  <div class="circle">

  </div>
  
</body>
</html>
